<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-0">
        
            </div>
            <div class="col-12 col-md-6 my-5">
                <h1 class="text-white display-2"><strong>The support you need to launch your medical career in the UK</strong></h1>
                <a type="button" class="btn btn-primary" href="#learn-more">FIND OUT MORE</a>
            </div>
        </div>
    </div>
</div>

<div class="container floating-box text-white rounded">
    <div class="row bg-primary g-5">
        <div class="col-12 col-md-4">
            <div class="row">
                <div class="col-2 my-auto">
                    <img src="/static/icons/guidance.svg" height="64">
                </div>
                <div class="col-10">
                    <h3>Support tools</h3>
                    <p>To assist survial and success for NHS working</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 my-auto border-end border-start">
            <div class="row">
                <div class="col-2 my-auto">
                    <img src="/static/icons/education.svg" height="64">
                </div>
                <div class="col-10 mw-1">
                    <h3>Practical training</h3>
                    <p>Suited for your professional role</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 my-auto">
            <div class="row">
                <div class="col-2 my-auto">
                    <img src="/static/icons/training.svg" height="64">
                </div>
                <div class="col-10">
                    <h3>Non clinical skills</h3>
                    <p>Solve your work situation problems</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="learn-more">
    <div class="row py-5 my-5">
        <div class="col-12 col-md-5 my-auto">
            <h1>Book a one-to-one session</h1>
            <p>GET STARTED <i class="bi bi-arrow-right"></i></p>
        </div>
        <div class="col-12 col-md-7">
            <div class="row">
                <p>Book a session today with experienced occupational medical consultant and Practicing GP with over 30 years of NHS experience.</p>
                <div class="col-6">
                    <h5>Benefits</h5>
                    <ul class="custom-list-primary">
                        <li>Enable you to pursue your career goals</li>
                        <li>Critical information for you to succeed</li>
                        <li>Evidence based problem solving at work</li>
                        <li>Leave with a action plan</li>
                    </ul>
                </div>
                <div class="col-6">
                    <h5>What you get</h5>
                    <ul class="custom-list-primary">
                        <li>30 minute consultation</li>
                        <li>A critical review of your career pathway</li>
                        <li>Risk assessment to professional objectives</li>
                        <li>Takeaway toolkit for your work situation</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-secondary">
    <div class="container">
        <div class="row join-us round-bg text-white">
            <div class="col-12 col-md-6 my-auto">
                <h1>Join our community for essential resources needed to navigate your career path in the British NHS</h1>
                <p>New to the whole UK IMG path?<br> Get started with our free course - the IMG GMC survial guide.</p>
                <ul class="custom-list-secondary">
                    <li>10 free lessons with Dr Sarangi</li>
                    <li>Get up to date with new GMC 2024 guidance - essential toolkit</li>
                    <li>sed diam nonummy</li>
                </ul>
                <a class="text-white" style="text-decoration: none;" href="/register">Get started <i class="bi bi-arrow-right"></i></a>
            </div>
            <div class="col-12 col-md-6 my-auto">
                <div class="row g-5 mb-5">
                    <div class="col-6 border-end">
                        <h5 class="text-primary">Conflict resolution</h5>
                        <p>Responding to conflicts at work</p>
                    </div>
                    <div class="col-6">
                        <h5 class="text-primary">Crisis management</h5>
                        <p>Skills</p>
                    </div>
                </div>
                <div class="row g-5">
                    <div class="col-6 border-end">
                        <h5 class="text-primary">Problem solving</h5>
                        <p>Clinical and non clinical, solving your work situation problems</p>
                    </div>
                    <div class="col-6">
                        <h5 class="text-primary">Protecting GMC Registration</h5>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}